@font-face {
  font-family: Din;
  src: local("Din Light"), local("Din-Light");
  src: url(../fonts/DIN\ Light.eot) format("eot"), url(../fonts/DIN\ Light.woff) format("woff"), url(../fonts/DIN\ Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  src: url(../fonts/fonts/Mulish-Regular.eot) format("eot"), url(../fonts/Mulish-Regular.woff) format("woff"), url(../fonts/Mulish-Regular.ttf)format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OpenSansLight;
  src: url(../fonts/OpenSans-Light.eot) format("eot"), url(../fonts//OpenSans-Light.woff) format("woff"), url(../fonts//OpenSans-Light.ttf)format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: OpenSansLightItalic;
  src: url(../fonts/OpenSans-LightItalic.eot) format("eot"), url(../fonts/OpenSans-LightItalic.woff) format("woff"), url(../fonts/OpenSans-LightItalic.ttf)format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: OpenSansRegular;
  src: url(../fonts/OpenSans-Regular.eot) format("eot"), url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.ttf)format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OpenSansSemiBold;
  src: url(../fonts/OpenSans-SemiBold.eot) format("eot"), url(../fonts/OpenSans-SemiBold.woff) format("woff"), url(../fonts/OpenSans-SemiBold.ttf)format("truetype");
  font-weight: 600;
  font-style: normal;
}